body{
	background:url(../img/4.jpg) no-repeat;
	background-size: cover;
	
	 height: 100%;
	 }


.content_box{
	margin:200px 40px 20px 40px;
	color: white; text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: 150%;
	font-weight: bold;
	padding: 2px;

}
.icons
{
	
	display: flex;
	justify-content: space-around;
	margin-left: 350px;
	margin-right: 350px;
}
.icnlogo{
	height: 100px;
	width: 100px;

}
.lhome{
	background:white;
}
.lhome li{
	color:black;
}
.icnlogo:hover{
     
	transform: scale(1.5, 1.5);
}
