body{
	background:url(../img/8.jpg) no-repeat;
	background-size: cover;
	overflow-x:hidden;
	 }


content {
	display: inline-block;
	width: 100%;
	height: 540px;
	margin:100px 0px 0px 0px;
	color: white; text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: calc(0.5vw + 18px);
	font-weight: bold;
	padding: 2px;

}
.icons ul
{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	margin-left: 350px;
	margin-right: 350px;
}
.icons ul li a{
	color: white;
	text-decoration: none;
}

.icnlogo{
	height: 100px;
	width: 100px;
	transition: transform .4s;

}
.lhome{
	background:white;
}
.lhome li{
	color:black;
}
.icnlogo:hover{
     
	transform: scale(1.3, 1.3);
}
@media screen and (max-width: 600px) {
	.icons ul{flex-direction: column; width: 100%; width: 100%; margin: 20px 0px 0px -35px;}
    .icnlogo{ height: 50px; width: 50px; }
    content{height: 100%;margin-top: 150px; align-items: center;}
}