body{
	background:url(../img/8.jpg) no-repeat;/*seting background image*/
	background-size: cover;/*making background cover so it dowsn't move while scrolling*/
	overflow-x:hidden;/*prevents from a sdditional sidebar pooping due to some reason*/
	 }


content {/*css of content*/
	display: inline-block;/*display type is inline-block means blocked element*/
	width: 100%;/*adjusting the layout of content*/
	height: 540px;
	padding: 2px;
	margin:100px 0px 0px 0px;
	color: white; text-align: center;
	font-family: 'Indie Flower', cursive;
	font-size: calc(0.5vw + 18px);
	font-weight: bold;
	

}
.icons ul/*displaying icons in row*/
{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	margin-left: 350px;
	margin-right: 350px;
}
.icons ul li a{/*removing link style text from the icons*/
	color: white;
	text-decoration: none;
}

.icnlogo{
	height: 100px;
	width: 100px;
	transition: transform .3s;/*putting transistion in icons*/

}
.lhome{
	background:white;/*setting white background and black text to "home" button 
	while in this page and this goes same accordingly for all pages*/
}
.lhome li{
	color:black;
}
.icnlogo:hover{
     
	transform: scale(1.3, 1.3);/*icon size increases while hovering*/
}
/*making the webpage responsive*/
@media screen and (max-width: 600px) {
	.icons ul{flex-direction: column; width: 100%; width: 100%; margin: 20px 0px 0px -35px;}
    .icnlogo{ height: 50px; width: 50px; }
    content{height: 100%;margin-top: 150px; align-items: center;}
}