
body{
	background:url(../img/8.gif) no-repeat;
	background-attachment: fixed;
	background-size: 500px,500px;
	 background-position: 400px 150px; 
	 height: 100%;
	 }
	 content{
	 	display: inline-block;
	 	margin-top: 60px;
	 	background: black;
	 	opacity: 0.85;
	 	height: 600px;
	 	width: 100%;
	 	color: white;
	 	text-align: center; 	

	 }
	 .text{
	 	font-family: 'Itim', cursive;
	 	font-weight: bold;
	 	font-size: calc(0.5vw + 18px);

	 }
	 content ul{ 
	 	
	 	display: flex;
	 	justify-content: space-around;
	 	list-style-type: none;

	  }
	  content ul li a{
	  	text-decoration: none;
	  }
	  .pic
	 {
	 	text-align: center;
	 	color: white;
	 	font-family: 'Itim', cursive;
	 		 	
	 }
	 
	 .pic img{
	 	transition: transform .3s;
	 }
	 .pic img:hover{
	 	transform: rotate(360deg) scale(1.3);
	 	
	 }
	 .lsocial{
	background:white;
	}
	.lsocial li{
	color:black;}
	 @media screen and (max-width: 600px) {
	content{margin-top: 150px;}
	content ul{margin-left: -40px;}
}